.step-body {
  position: relative;

  .step-.header {
    width  : 100%;
    margin : 0 auto;
    display: none;

    .step-bar {
      width        : 100%;
      background   : url("../img/bar-bg.png");
      position     : relative;
      border-radius: 12px;
      z-index      : 0;
      height       : 5px;
      top          : 66px;

      .step-bar-active {
        width        : 0;
        background   : url("../img/bar-bg-active.png");
        height       : 5px;
        border-radius: 12px;
      }
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;
        text-align     : center;
        float          : left;
        position       : relative;

        p {
          margin-top   : 30px;
          margin-bottom: 5px;
          font-size    : 14px;
          color        : #625454;
        }

        span {
          position   : relative;
          margin     : 0 auto;
          font-size  : 16px;
          font-family: Arial;
          color      : #625454;
          height     : 25px;
          line-height: 25px;
          background : url("../img/cell.png") center top no-repeat;
          display    : block;
        }

        &.step-active {
          span {
            background: url("../img/cell-active.png") center top no-repeat;
            color     : #fff;
          }

          p {
            color: #007fff;
          }

          .step-bar {
            border-radius: 12px;
          }
        }
      }
    }
  }

  .step-content {
    .step-list {
      display: none;
      clear  : both;
    }
  }
}

.works-list {
  .item {
    padding: 0.5rem;
    cursor : pointer;

    .pic {
      padding-bottom     : 75%;
      background-position: center;
      background-repeat  : no-repeat;
      background-size    : cover;
      background-color   : #ccc;
      position           : relative;

      .bg {
        position        : absolute;
        background-color: rgba(0,0,0,0.6);
        width           : 100%;
        height          : 100%;
        left            : 0;
        top             : 0;
        visibility      : hidden;
        opacity         : 0;
        transition      : $tr4;

        a {
          color    : #fff;
          padding  : 10px;
          font-size: 26px;
        }
      }
    }

    &:hover {
      .pic {
        .bg {
          visibility: visible;
          opacity   : 1;
          transition: $tr4;
        }
      }
    }

    &.additem {
      .pic {
        background-color: rgba(0,0,0,0.5);
        color           : #fff;

        .bg {
          visibility: visible;
          opacity   : 1;
          color     : #fff;

          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}

#iziModal .iziModal-content .header {
  background   : #eee;
  margin-bottom: 10px;
  overflow     : hidden;
  border-radius: 3px 3px 0 0;
  background   : #ddd;
  text-align   : center;
  color        : #999;
  padding      : 30px 25px 25px;
  font-size    : 18px;
  font-weight  : bolder;
}

.hide {
  display: none;
}

#iziModal .iziModal-content .header a {
  display   : block;
  float     : left;
  width     : 100%;
  padding   : 30px 25px 25px;
  text-align: center;
  background: #ddd;
  color     : #999;
}

#iziModal .iziModal-content .header a.active {
  background: #fff;
  color     : #777;
}

#iziModal .iziModal-content section {
  padding: 30px;
}

#iziModal .iziModal-content section button,
#iziModal .iziModal-content section input:not([type=checkbox]) {
  width        : 100%;
  border-radius: 3px;
  border       : 1px solid #ddd;
  margin-bottom: 26px;
  padding      : 15px;
  font-size    : 14px;
}

#iziModal .iziModal-content section input:focus {
  border-color: #28ca97;
}

#iziModal .iziModal-content section label[for=check] {
  margin-bottom: 26px;
  font-size    : 14px;
  color        : #999;
  display      : block;
}

#iziModal .iziModal-content section .footer {
  overflow: hidden;
}

#iziModal .iziModal-content section button {
  background: #28ca97;
  color     : #fff;
  margin    : 0;
  border    : 0;
  cursor    : pointer;
  width     : 50%;
  float     : left;
}

#iziModal .iziModal-content section button:hover {
  opacity: 0.8;
}

#iziModal .iziModal-content section button:nth-child(1) {
  border-radius: 3px 0 0 3px;
  background   : #aaa;
}

#iziModal .iziModal-content section button:nth-child(2) {
  border-radius: 0 3px 3px 0;
}

#iziModal .iziModal-content .icon-close {
  background   : #fff;
  margin-bottom: 10px;
  position     : absolute;
  right        : -8px;
  top          : -8px;
  font-size    : 14px;
  border-radius: 50%;
  width        : 30px;
  height       : 30px;
  box-shadow   : 0 0 2px #999;
  border       : 0;
  color        : #a9a9a9;
  cursor       : pointer;
}

#iziModal .iziModal-content .icon-close:focus,
#iziModal .iziModal-content .icon-close:hover {
  color: #000;
}